body{
   background-image: linear-gradient( to right,#510707 ,#1b0101);
   /* background: linear-gradient(120.63deg, #510707 29.73%, rgba(63, 2, 2, 0.85) 105.91%); */



}
#x
{
    position: relative;
     margin-top: -120px;
      margin-left: -149px;
}
#q
{
    position: absolute;
     margin-top: 170px;
      margin-left: 30px;
}

#four
{
 bottom: 700px;
}
#five
{
    height: 56px;
    width: 350px;
    color: #F9DBDB;
    font-size: 20px;
    text-align: center;
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 8px solid transparent;
   
    
}
#six
{
    height: 56px;
    width: 160px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 9px solid transparent;   
}
#seven
{
    height: 56px;
    width: 230px;
    color: #F9DBDB;
    font-size: 20px;
    text-align: center;
    margin-left: 650px;
    font-weight: 550;
    font-family: sans-serif;
    Padding:
40px, 40px, 40px, 40px;
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 7px solid transparent;    
}
#nine
{
  height:870px ;
  width:1360px ;
  background: #B22C2C33;
border-radius: 100px;
margin-left: 80px;
}
#eight
{
    height: 46px;
    width: 160px;
    color: #F9DBDB;
    font-size: 20px;
    text-align: center;
   
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 7px solid transparent; 

}
#eight
{
   
    
    height: 53px;
    width: 220px;
    color: #F9DBDB;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
   
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;

border: 7px solid transparent;
}
#ye{
    /* font-family: Nunito Sans; */
font-size: 46px;
/* font-weight: 700; */
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color:white;
font-weight: 600;
margin-left: 418px;
}

#amazon
{
    height: 140px;
    width: 140px;
    margin-left: 100px;
}
#cloud
{
    height: 140px;
    width: 140px;
    margin-left: 25px;
}
#yeh
{
    height: 140px;
    height: 140px;
    margin-left: 35px;
    position: relative;
    top: 30px;  
}
#postman
{
    height: 140px;
    width: 140px;
    margin-left: 85px;
    margin-top: 50px;
}
#last
{
    height: 140px;
    width: 140px;
    margin-left: 35px;
    margin-top: 130px

}
#login
{
    height: 56px;
    width: 153px;
    color: antiquewhite;
    font-size: 20px;
    text-align: center;
    background: linear-gradient( to right, #510707 ,#600202) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 9px solid transparent; 
font-weight: 500;  
margin-left: 600px;
margin-top: 130px;
}
.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
  }
  
  .slider img {
    width: 100%;
    display: none;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  #i
  {
    
    
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
color: #1b0101; 

    

  }
  #j
  {

    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
color: #1b0101; 


  }

 #ei
 {

    height: 56px;
    width: 260px;
    color: #F9DBDB;
    font-size: 20px;
    text-align: center;
    margin-left: 325px;
    font-weight: 568;
    font-family: sans-serif;
    Padding:
80px, 40px, 40px, 40px;
    /* border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right,#AE2B2B ,#F9DBDB ) 1; */
    background: linear-gradient( to right ,#7C1313,#9B6969) padding-box,
    linear-gradient(to right,#AE2B2B ,#F9DBDB ) border-box;
border-radius: 10px;
border: 7px solid transparent;   
margin-top: 20px; 

 }
 #as
 {
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
    
 }
 #bs
 {
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
    margin-left: 105px;
 }
 #cs
 {



    font-family: sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: antiquewhite;
      margin-left: -28px;

 }
 #qs
 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: antiquewhite;
 }
 #rs
 {
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
    margin-right: 54px;
 }
 #gc
 {
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
 }
 #yc
 {
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: antiquewhite;
    margin-left: 100px;
 }